{% stylesheet %}
  .error-page {
    padding-block: 80px;
    padding-inline: var(--page-margin, 40px);
    max-width: var(--normal-page-width, 1400px);
    margin-inline: auto;
  }
  .error-page__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
  .error-page__image {
    max-width: 50%;
    width: 100%;
  }
  .error-page__image img {
    width: 100%;
    height: auto;
  }
  .error-page__inner h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
  }
  .error-page__inner p {
    max-width: 600px;
    margin: 0;
  }
{% endstylesheet %}

<section>
  <div class="error-page">
    <div class="error-page__inner">
      <div class="error-page__image">
        <img
          src="https://cdn.shopify.com/s/files/1/0084/8330/7620/files/error.png?v=1774531635"
          alt="MUG skylt"
          width="500"
        >
      </div>
      <h1>Här blev det fel! – Sidan saknas (404)</h1>
      <p>
        Sidan du letar efter verkar saknas. Använd vår navigering ovan eller
        <a href="{{ routes.root_url }}">klicka här</a> för att återgå till startsidan.
      </p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:names.404",
  "class": "section-wrapper"
}
{% endschema %}
