

{% render 'predictive-search-empty-state',
  load_empty_state: true,
  shadow_opacity: 0.1,
  products_test_id: 'products-list-default--reset'
%}

<div class="predictive-search-form__footer">
  <a
    href="{{ routes.search_url }}?type=product"
    class="button button-primary predictive-search__search-button"
  >
    VISA ALLA PRODUKTER
  </a>
</div>

{% schema %}
{
  "name": "t:names.predictive_search_empty",
  "class": "predictive-search-empty-section",
  "settings": []
}
{% endschema %}
