<div class="shogun-root" data-shogun-id="65647b5e14f12300ee4b35b1" data-shogun-site-id="00c1b0c1-4e7e-45a6-bef1-21936af552d1" data-shogun-section-id="65647b5e14f12300ee4b35b1" data-shogun-section-version-id="667bdfaab9c330c30d75b7b5" data-shogun-platform-type="shopify" data-shogun-variant-id="667bdfaab9c330c30d75b8dd" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-06-12-1440/667bdfaab9c330c30d75b7b5_667bdfaab9c330c30d75b8dd.css"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-06-19-2403/global-assets-1db85310bd9bb55286ea38a01deafb97002a4ba0.js" defer></script> <div class="shg-c " id="s-876f950b-2310-4381-8444-b3d4c161b9de"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" id="s-0b9a9dd3-147c-49e3-9419-a438e5e4d973"data-shg-href="https://www.mug.se/collections/summersale"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-a8d53d8a-8509-4088-9d7d-d5c70e21dd88" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 70px;"><span style="color: rgb(0, 0, 0); font-size: 110px;"><span style="letter-spacing: 6px;">SALE<br>SALE<br>SALE</span></span></p></div> </div> <div id="s-ef747cdb-9baf-448e-9109-ab92bc35341c" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 110px;"><span style="color: rgb(0, 0, 0); font-size: 170px;"><span style="letter-spacing: 6px;">SALE<br>SALE<br>SALE</span></span></p></div> </div> <div class="shg-c " id="s-b472ef86-2df1-45d0-adae-7351df4fa98d"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-b8e65716-edab-4d45-bdb6-7cb0360d7a5e" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">SOMMARREA</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-03725c46-55b0-48c4-b6e9-0663ea51fa8b" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">FYNDA NU</span></span></p></div> </div> </div> </div> </div> <div id="s-d9d69798-b63d-4ef2-a92f-5380d8051ce5" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">SOMMARREA</span></span></p></div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-0b9a9dd3-147c-49e3-9419-a438e5e4d973",
          "url": "https://www.mug.se/collections/summersale",
          "new_window": false
        }
      }
    </script> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero " id="s-17637ca6-aff6-43c2-8393-1fa0373847b3"data-shg-href="https://www.mug.se/collections/summersale"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-431197ab-609e-4a41-b6f2-c28a8b85bee7"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-32355978-1e88-495a-84d8-a4f4ef998e56" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">SOMMARREA</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-1313c8a1-ffd6-41f6-b17e-e7aac89e73d2" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">FYNDA NU</span></span></p></div> </div> </div> </div> </div> <div id="s-cffc408c-ff22-4aea-96d0-e070c3baf24b" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">SOMMARREA</span></span></p></div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-17637ca6-aff6-43c2-8393-1fa0373847b3",
          "url": "https://www.mug.se/collections/summersale",
          "new_window": false
        }
      }
    </script> </div> </div> </div> <div class="shg-c " id="s-dcad8d86-f2f7-400a-9871-c5bab9930aae"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero " id="s-921a32c3-893a-44ce-aded-ed9af7f160aa"data-shg-href="https://www.mug.se/collections/summersale"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-30e35c34-72e7-4a38-9dd1-ac9c96f58a21"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-1a30c87b-ee35-4c91-af39-dff7f5a16f5c" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">SOMMARREA</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-9def154e-5518-4b34-bd52-6384c77b8526" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">FYNDA NU</span></span></p></div> </div> </div> </div> </div> <div id="s-37f1303c-e3de-4908-ac08-54230299fef3" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">SOMMARREA</span></span></p></div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-921a32c3-893a-44ce-aded-ed9af7f160aa",
          "url": "https://www.mug.se/collections/summersale",
          "new_window": false
        }
      }
    </script> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" id="s-e08a78ad-ee1b-4a1c-8e86-993af7fcea3f"data-shg-href="https://www.mug.se/collections/summersale"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-e98cb9e5-2a66-4908-bceb-9820f39d8875" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 70px;"><span style="color: rgb(0, 0, 0); font-size: 110px;"><span style="letter-spacing: 6px;">UPP<br>TILL<br>40%</span></span></p></div> </div> <div id="s-d4249b03-456c-493d-9c1b-4f74c38d1b15" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 110px;"><span style="color: rgb(0, 0, 0); font-size: 170px;"><span style="letter-spacing: 6px;">UPP<br>TILL<br>40%</span></span></p></div> </div> <div class="shg-c " id="s-0a5af195-dede-497c-a564-b890c67b5db1"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-12"><div id="s-d3fd62c8-a4bf-4370-b311-bd4550d2e6d8" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">SOMMARREA</span></span></p></div> </div> </div> <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-50787ccf-0fd8-42b6-9b22-0e6dc3324c82" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">FYNDA NU</span></span></p></div> </div> </div> </div> </div> <div id="s-0a2319c6-fc0a-4704-ae57-9e3a378bc91e" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">SOMMARREA</span></span></p></div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-e08a78ad-ee1b-4a1c-8e86-993af7fcea3f",
          "url": "https://www.mug.se/collections/summersale",
          "new_window": false
        }
      }
    </script> </div> </div> </div> <div id="s-7ccd09cb-affb-43ff-9d43-e02433025886" class="shg-c shg-align-left"> <style>
.hero:hover {
  opacity: 0.93;
}

</style> </div> </div>
{% schema %}
  {
    "name": "Sommarrea",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=65647b5e14f12300ee4b35b1&shop=www.mug.se)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Sommarrea",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
