<div class="shogun-root" data-shogun-id="64d2a260cfba0e00ef0d6815" data-shogun-site-id="00c1b0c1-4e7e-45a6-bef1-21936af552d1" data-shogun-section-id="64d2a260cfba0e00ef0d6815" data-shogun-section-version-id="66e27f5ca4f5f4c8972466d9" data-shogun-platform-type="shopify" data-shogun-variant-id="66e27f5ca4f5f4c897246814" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-09-05-5919/66e27f5ca4f5f4c8972466d9_66e27f5ca4f5f4c897246814.css"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-09-05-5919/global-assets-88901f6b324eb975ba8033dcedd08422f2fd4db9.js" defer></script> <script type="text/javascript" src="https://cdn.getshogun.com/jarallax-f7e7cf9cfe24aaa04179ae0ee36c9cf2.js" defer></script> <div class="shg-c " id="s-876f950b-2310-4381-8444-b3d4c161b9de"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" id="s-0b9a9dd3-147c-49e3-9419-a438e5e4d973"data-shg-href="https://www.mug.se/collections/moog"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-54196a92-da54-4332-b600-be99bcb2166b"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-53415c03-3cde-4c3f-9e00-949901140a17" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: center;"><span style="color: rgb(255, 255, 255); font-size: 88px;"><span style="letter-spacing: 2px;">MOOG</span></span></p></div> </div> </div> </div> </div> <div id="s-ea34529f-698d-4f97-bf3c-f54873de2b36" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: #ffffff;"><span style="font-size: 18px; letter-spacing: 2px;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">MOOG SYNTHESIZERS</span></span></span></span></p></div> </div> <div class="shg-c " id="s-5bcda7d7-12fe-4d31-8eb0-8d9cec88cfed"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-5c4bd5ac-206f-4f07-a5a3-1215430b8f55" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">MOOG SYNTHESIZERS</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-3af26c32-4b83-4abe-9942-704730368bfb" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">UPPT&Auml;CK</span></span></p></div> </div> </div> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-0b9a9dd3-147c-49e3-9419-a438e5e4d973",
          "url": "https://www.mug.se/collections/moog",
          "new_window": false
        }
      }
    </script><script class="__SHG_DATA__" type="application/json">
      {
        "__shgVideoParallax": {
          "id": "#s-0b9a9dd3-147c-49e3-9419-a438e5e4d973",
          "url": "https://www.youtube.com/embed/dhm6DwkOQLU",
          "sound": false,
          "speed": 1,
          "backupImage": "https://i.shgcdn.com/041a2d7c-7f31-4e05-8745-e435f9d96b26/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        }
      }
    </script> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" data-bgset='https://i.shgcdn.com/68304fc1-55ed-4cfa-b302-f0ce70454dd2/' id="s-17637ca6-aff6-43c2-8393-1fa0373847b3"data-shg-href="https://www.mug.se/collections/ibanez-electric-guitars"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-bec37d3f-89c0-47c7-aaef-5448dc425fdc" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">IBANEZ ELECTRIC GUITARS</span></span></p></div> </div> <div class="shg-c " id="s-050163fd-d209-4e72-b822-02b148523d13"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-61491c1d-93c9-4976-abfe-72ec09f152ba" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">IBANEZ ELECTRIC GUITARS</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-9045f231-fd1c-4df8-9858-9eacacd0f175" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">UPPT&Auml;CK</span></span></p></div> </div> </div> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-17637ca6-aff6-43c2-8393-1fa0373847b3",
          "url": "https://www.mug.se/collections/ibanez-electric-guitars",
          "new_window": false
        }
      }
    </script> </div> </div> </div> <div class="shg-c " id="s-dcad8d86-f2f7-400a-9871-c5bab9930aae"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" data-bgset='https://i.shgcdn.com/8fc09c2b-22cf-418d-a8f3-119e8126cc19/-/format/auto/-/preview/3000x3000/-/quality/lighter/' id="s-921a32c3-893a-44ce-aded-ed9af7f160aa"data-shg-href="https://www.mug.se/collections/music-man"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-3b44bdc3-b20a-4a32-b785-ad2b8edb20c7" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">ERNIE BALL MUSIC MAN </span></span></p></div> </div> <div class="shg-c " id="s-b472ef86-2df1-45d0-adae-7351df4fa98d"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-b8e65716-edab-4d45-bdb6-7cb0360d7a5e" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">ERNIE BALL MUSIC MAN</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-03725c46-55b0-48c4-b6e9-0663ea51fa8b" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">UPPT&Auml;CK</span></span></p></div> </div> </div> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-921a32c3-893a-44ce-aded-ed9af7f160aa",
          "url": "https://www.mug.se/collections/music-man",
          "new_window": false
        }
      }
    </script> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" data-bgset='https://i.shgcdn.com/6bdb219e-b233-4431-86e2-ca3fcb9409a9/' id="s-e08a78ad-ee1b-4a1c-8e86-993af7fcea3f"data-shg-href="https://www.mug.se/products/dato-duo"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-9264ab03-da7d-4252-bff2-76ae80cdfc59" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">DATA DUO</span></span></p></div> </div> <div class="shg-c " id="s-0a5af195-dede-497c-a564-b890c67b5db1"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-12"><div id="s-d3fd62c8-a4bf-4370-b311-bd4550d2e6d8" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: #ffffff;"><span style="font-size: 18px; letter-spacing: 2px;">DATA DUO</span></span></p></div> </div> </div> <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-50787ccf-0fd8-42b6-9b22-0e6dc3324c82" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">UPPT&Auml;CK</span></span></p></div> </div> </div> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-e08a78ad-ee1b-4a1c-8e86-993af7fcea3f",
          "url": "https://www.mug.se/products/dato-duo",
          "new_window": false
        }
      }
    </script> </div> </div> </div> <div id="s-7ccd09cb-affb-43ff-9d43-e02433025886" class="shg-c shg-align-left"> <style>
.hero:hover {
  opacity: 0.93;
}

</style> </div> </div>
{% schema %}
  {
    "name": "Puffar i Juni",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=64d2a260cfba0e00ef0d6815&shop=www.mug.se)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Puffar i Juni",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
