<div class="shogun-root" data-shogun-id="65a69f49c0931b00fb5a0deb" data-shogun-site-id="00c1b0c1-4e7e-45a6-bef1-21936af552d1" data-shogun-section-id="65a69f49c0931b00fb5a0deb" data-shogun-section-version-id="662030780b76f3ad6e313dc7" data-shogun-platform-type="shopify" data-shogun-variant-id="662030780b76f3ad6e313f57" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-02-09-3511/662030780b76f3ad6e313dc7_662030780b76f3ad6e313f57.css"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-04-03-0549/global-assets-8e518040252c7e1c63c0ac37414e4ecd50a5b941.js" defer></script> <div class="shg-c " id="s-876f950b-2310-4381-8444-b3d4c161b9de"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" id="s-0b9a9dd3-147c-49e3-9419-a438e5e4d973"data-shg-href="https://www.mug.se/collections/teenage-engineering"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-68fbfdfe-28ce-4a51-8685-6e0e0eda83df"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-b40544ec-093a-4f38-869c-6c7034248add-root" class="s-b40544ec-093a-4f38-869c-6c7034248add shg-align-container"> <div class="shg-c s-b40544ec-093a-4f38-869c-6c7034248add shogun-image-container shg-align-center" style="opacity: 1;" id="s-b40544ec-093a-4f38-869c-6c7034248add"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/b69547ed-bcdc-477d-87f2-572b505061ab/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-b40544ec-093a-4f38-869c-6c7034248add" }
    }
  </script> <div id="s-53415c03-3cde-4c3f-9e00-949901140a17" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: center; line-height: 58px;"><span style="color: rgb(240, 90, 36); font-size: 56px; letter-spacing: 4px;" data-letterspacing="4px">TEENAGE<br>ENGINEERING</span></p></div> </div> <div id="s-4452a83e-d8d8-474b-b59e-4c27275b4108" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: center;"><span style="color: #f05a24; font-size: 18px;"><span style="letter-spacing: 2px;">KOM IN OCH TESTA P&Aring; MUG</span></span></p></div> </div> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-1fd348ef-b90b-4e40-85be-d02a73846141"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-82da35d2-c8cb-4ba1-896a-82f244c9d1a4-root" class="s-82da35d2-c8cb-4ba1-896a-82f244c9d1a4 shg-align-container"> <div class="shg-c s-82da35d2-c8cb-4ba1-896a-82f244c9d1a4 shogun-image-container shg-align-center" style="opacity: 1;" id="s-82da35d2-c8cb-4ba1-896a-82f244c9d1a4"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/b69547ed-bcdc-477d-87f2-572b505061ab/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-82da35d2-c8cb-4ba1-896a-82f244c9d1a4" }
    }
  </script> <div id="s-70843076-8358-44dc-807e-f14621df5c39" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: center; line-height: 40px;"><span style="color: rgb(240, 90, 36); font-size: 36px; letter-spacing: 4px;" data-letterspacing="4px">TEENAGE<br>ENGINEERING</span></p></div> </div> <div id="s-001b0f8e-1123-4942-9e38-afc9258a16a2" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: center;"><span style="color: #f05a24; font-size: 18px;"><span style="letter-spacing: 2px;">KOM IN OCH TESTA P&Aring; MUG</span></span></p></div> </div> </div> </div> </div> <div class="shg-c " id="s-5bcda7d7-12fe-4d31-8eb0-8d9cec88cfed"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-f74da5da-f349-4b29-afc8-d0d3af43bcc3" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">NYTT VARUM&Auml;RKE</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-3af26c32-4b83-4abe-9942-704730368bfb" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">UPPT&Auml;CK</span></span></p></div> </div> </div> </div> </div> <div id="s-bec37d3f-89c0-47c7-aaef-5448dc425fdc" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 16px;"><span style="letter-spacing: 2px;">NYTT VARUM&Auml;RKE</span></span></p></div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-0b9a9dd3-147c-49e3-9419-a438e5e4d973",
          "url": "https://www.mug.se/collections/teenage-engineering",
          "new_window": false
        }
      }
    </script> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" data-bgset='https://i.shgcdn.com/64d7448e-8162-4328-bf97-7387d7a376d1/' id="s-17637ca6-aff6-43c2-8393-1fa0373847b3"data-shg-href="https://www.mug.se/collections/teenage-engineering"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-2f2bb5c0-ad67-4b5d-9682-40073f390c1c" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 16px;"><span style="letter-spacing: 2px;">NYTT VARUM&Auml;RKE</span></span></p></div> </div> <div class="shg-c " id="s-050163fd-d209-4e72-b822-02b148523d13"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-61491c1d-93c9-4976-abfe-72ec09f152ba" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">NYTT VARUM&Auml;RKE</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-9045f231-fd1c-4df8-9858-9eacacd0f175" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(0, 0, 0); font-size: 18px;"><span style="letter-spacing: 2px;">UPPT&Auml;CK</span></span></p></div> </div> </div> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-17637ca6-aff6-43c2-8393-1fa0373847b3",
          "url": "https://www.mug.se/collections/teenage-engineering",
          "new_window": false
        }
      }
    </script> </div> </div> </div> <div class="shg-c " id="s-dcad8d86-f2f7-400a-9871-c5bab9930aae"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" data-bgset='https://i.shgcdn.com/708493c3-d6a2-40d1-95a0-861da7c226d3/-/format/auto/-/preview/3000x3000/-/quality/lighter/' id="s-921a32c3-893a-44ce-aded-ed9af7f160aa"data-shg-href="https://untappd.com/b/dugges-bryggeri-hardrocksband-soker-basist/5569947/photos"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-3b44bdc3-b20a-4a32-b785-ad2b8edb20c7" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(255, 255, 255); font-size: 16px;"><span style="letter-spacing: 2px;">MUG 50 &Aring;R &ndash; JUBILEUMS&Ouml;L </span></span></p></div> </div> <div class="shg-c " id="s-b472ef86-2df1-45d0-adae-7351df4fa98d"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12"><div id="s-b8e65716-edab-4d45-bdb6-7cb0360d7a5e" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">MUG 50 &Aring;R!</span></span></p></div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div id="s-03725c46-55b0-48c4-b6e9-0663ea51fa8b" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">JUBILEUMS&Ouml;L</span></span></p></div> </div> </div> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-921a32c3-893a-44ce-aded-ed9af7f160aa",
          "url": "https://untappd.com/b/dugges-bryggeri-hardrocksband-soker-basist/5569947/photos",
          "new_window": false
        }
      }
    </script> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c shg-box-linked hero shogun-lazyload" data-bgset='https://i.shgcdn.com/1ff3ecf1-7d5a-454e-a3b2-8c4995d2b5ef/-/format/auto/-/preview/3000x3000/-/quality/lighter/' id="s-e08a78ad-ee1b-4a1c-8e86-993af7fcea3f"data-shg-href="https://www.mug.se/collections/gitarreffekter"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-9264ab03-da7d-4252-bff2-76ae80cdfc59" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: rgb(255, 255, 255); font-size: 16px;"><span style="letter-spacing: 2px;">GITARREFFEKTER</span></span></p></div> </div> <div class="shg-c " id="s-0a5af195-dede-497c-a564-b890c67b5db1"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-12"><div id="s-d3fd62c8-a4bf-4370-b311-bd4550d2e6d8" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: left;"><span style="color: #ffffff;"><span style="font-size: 18px; letter-spacing: 2px;">GITARREFFEKER</span></span></p></div> </div> </div> <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-50787ccf-0fd8-42b6-9b22-0e6dc3324c82" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p class="p1" style="text-align: right;"><span style="color: rgb(255, 255, 255); font-size: 18px;"><span style="letter-spacing: 2px;">UPPT&Auml;CK</span></span></p></div> </div> </div> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgBox": {
          "id": "s-e08a78ad-ee1b-4a1c-8e86-993af7fcea3f",
          "url": "https://www.mug.se/collections/gitarreffekter",
          "new_window": false
        }
      }
    </script> </div> </div> </div> <div id="s-7ccd09cb-affb-43ff-9d43-e02433025886" class="shg-c shg-align-left"> <style>
.hero:hover {
  opacity: 0.93;
}

</style> </div> </div>
{% schema %}
  {
    "name": "Teenage Engineering",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=65a69f49c0931b00fb5a0deb&shop=www.mug.se)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Teenage Engineering",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
